/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    /*default parameters*/
    reads = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/raw-reads/simulated_reads/resistance_profile/*_R{1,2}.fastq.gz'
    grootdb = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_groot/index'
    aribadb = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_ariba/prepare'
    srst2db = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_srst2/sequence.fa'
    kargadb = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_karga/sequence.fa'
    argprofilerdb = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_argprofiler'
    metadata_file = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panARG/overview/panARG_annotations.tsv'
    groot_cov = 0.95
    output = './results'
    work_dir = './work'

    /*singularity containers*/
    container__srst2 = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/srst2-2.0.0.img'
    container__groot = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/groot-1.1.2--heaae5f8_5.img'
    container__ariba = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/ariba_2.14.6--py39heaaa4ec_6.img'
    container__karga = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/karga-1.02.img'
    container__kma = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/kma-1.4.9.img'


    /*Memory and CPUS available for the whole process*/
    NCPUS = 8
    MEM = "16 GB"
}

report.file = "${params.output}/nextflow-benchmark-report.html"

profiles {
    qib {
        process.executor = 'slurm'
        process.queue = 'qib-medium,qib-long'
        singularity.enabled = true
        singularity.autoMounts = true
        process.memory = params.MEM
        process.cpus = params.NCPUS
        //singularity.runOptions = "--bind /usr:/usr --bind /lib:/lib"

    }
}
