/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    indexed_groot_database = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_groot/index' 
    ariba_ref_database = '/qib/scratch/users/zaf24vof/prepare'
    srst2_ref_database = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_srst2/sequence.fa'
    karga_ref_database = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/databases/panarg_2_karga/sequence.fa'
    work_dir = '~/Documents'
    fastq_folder = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/raw-reads/simulated_reads/resistance_profile/'
    container__srst2 = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/srst2-2.0.0.img'
    container__groot = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/groot-1.1.2--heaae5f8_5.img'
    container__ariba = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/ariba_2.14.6--py39heaaa4ec_6.img'
    container__karga = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/singulariy-images/karga-1.02.img' 
    NCPUS = 16
    MEM = "32 GB"
    results_dir = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/results/'
}

report.file = '/qib/research-groups/CoreBioInfo/projects/arg-snipper/results/nextflow-benchmark-report.html'
singularity.enabled = true

profiles {
    qib {
        process.executor = 'slurm'
        process.queue = 'qib-medium'
        singularity.enabled = true
        process.memory = params.MEM
        process.cpus = params.NCPUS
    }
}
